* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color:grey;
}


button {
padding: 10px;
font-size: 1.1em;
background: white;
color: black;
border: none;
border-radius: 10px;
cursor: pointer;
}
button:hover {
background: rgba(255, 255, 255, 0.9);
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  

  